dots/.config/hypr/colors.conf
dots/.config/hypr/hyprland/colors.lua
dots/.config/hypr/hyprland/custom
dots/.config/kitty/themes/
dots/.config/kitty/current-theme.conf
dots/.config/rofi/colors.rasi
dots/.config/rofi/current_wallpaper
dots/.config/waybar/colors.css
dots/.config/wlogout/colors.css
dots/.config/swayosd/colors.css
dots/.config/swaync/colors.css
dots/.config/gtk-*/colors.css
dots/.config/qt6ct/colors/matugen.conf
dots/.config/gtk-3.0/bookmarks
dots/.config/gtk-4.0/servers
dots/.config/quickshell/*/.qmlls.ini
dots/.config/hematite
dots/.config/Kvantum/matugen