.config/hypr/colors.conf
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/rofi/current_wallpaper
.config/waybar/colors.css
.config/wlogout/colors.css
.config/quickshell/modules/common/Colors.qml