.config/hypr/colors.conf
.config/hypr/user.conf
.config/kitty/colors.conf
.config/rofi/colors.rasi
.config/rofi/current_wallpaper
.config/waybar/colors.css
.config/wlogout/colors.css
.config/swayosd/colors.css
.config/swaync/colors.css
.config/quickshell/monet/modules/common/Colors.qml
.config/gtk-*/colors.css
.config/qt6ct/colors/matugen.conf
.config/gtk-3.0/bookmarks
.config/gtk-4.0/servers
.config/quickshell/monet/.qmlls.ini