# Cava config for hematite's music visualizer. Don't touch this file, you'll mess up the visualizer in the island. If you want to make your own Cava config, edit the default generated at .config/cava/config.

[general]
framerate = 60
bars = 5
autosens = 1
sensitivity = 80
lower_cutoff_freq = 50
upper_cutoff_freq = 10000

[input]
method = pipewire

[output]
method = raw
raw_target = /dev/stdout
channels = mono
mono_option = average
data_format = ascii
bar_delimiter = 32
frame_delimiter = 10

[smoothing]
monstercat = 1
waves = 0
gravity = 150
noise_reduction = 30
