@import url("colors.css");

* {
	background-image: none;
	box-shadow: none;
	all: unset;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background-color: rgba(0, 0, 0, 0.5);
}

button {
	font-family: "Material Symbols Outlined", sans-serif;
	font-size: 8rem;
	padding: 6rem;
	margin: 1rem;
    border-radius: 5rem;
    border-color: @surface;
	background-color: @surface;
	text-decoration-color: @on_surface;
    color: @on_surface;
}

button:focus, button:active, button:hover {
	background-color: @primary;
	color: @on_primary;
	border-radius: 10rem;
}
